%hundred {
  width: 100%;
  height: 100%;
}
%buttonStyle {
  @extend %hundred;
  border: 0 none;
  outline: 0;
  color: rgb(154, 154, 158);
  background-color: transparent;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -0.19px;
  cursor: pointer;
}

.Category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;

  .CateContainer {
    width: 1080px;
    height: 100vh;

    header {
      width: 100%;
      height: 47px;
    }
    .ImgBox {
      width: 100%;
      height: 220px;

      img {
        @extend %hundred;
      }
    }
    .ProductsList {
      display: flex;
      width: 100%;
      height: 58px;
      border-bottom: 1px solid #f2f2f2;

      .ListOne {
        width: 59.031px;
        height: 58px;

        button {
          @extend %buttonStyle;
        }
      }
      .ListTwo {
        width: 94.453px;
        height: 58px;

        button {
          @extend %buttonStyle;
        }
      }
      .ListThree {
        width: 94.453px;
        height: 58px;

        button {
          @extend %buttonStyle;
        }
      }
      .ListFour {
        width: 88.063px;
        height: 58px;

        button {
          @extend %buttonStyle;
        }
      }
      .ListFive {
        width: 123.484px;
        height: 58px;

        button {
          @extend %buttonStyle;
        }
      }
      .ListSix {
        width: 123.484px;
        height: 58px;

        button {
          @extend %buttonStyle;
        }
      }
      .ListSeven {
        width: 77.75px;
        height: 58px;

        button {
          @extend %buttonStyle;
        }
      }
      .ListEight {
        width: 108.969px;
        height: 58px;

        button {
          @extend %buttonStyle;
        }
      }
    }
    .ProductsHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 86px;

      .HeaderText {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 45px;

        .HeaderLeft {
          display: flex;
          justify-content: space-between;
          width: 891px;
          height: 30px;
          margin-top: 7px;

          .HeaderAmount {
            width: 61.094px;
            height: 24px;
            margin-top: 9px;

            .LeftOne {
              font-size: 16px;
            }
            .LeftTwo {
              font-weight: bold;
              font-size: 15px;
            }
            .LeftThree {
              font-size: 16px;
            }
          }
          img {
            width: 20px;
            height: 20px;
            margin-top: 6px;
            margin-left: 600px;
          }
          .GlobalProducts {
            width: 195px;
            height: 24px;
            margin-top: 9px;
            color: #1e1e1e;
          }
        }
        .HeaderRight {
          position: relative;
          width: 184px;
          height: 43px;
          border: 1px solid #e3e5e8;

          span {
            position: absolute;
            width: 70px;
            height: 24px;
            color: #111111;
            margin-top: 15px;
            margin-left: 15px;
          }
          img {
            width: 18px;
            height: 18px;
            margin-top: 12px;
            margin-left: 150px;
          }
        }
      }
    }
    .ProductCardGrid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px 20px;
      width: 100%;
      height: 100vh;

      .Product {
        width: 255px;
        height: 381px;
        text-decoration: none;

        img {
          width: 255px;
          height: 255px;
          border-radius: 1%;
        }
        .ProductText {
          display: flex;
          justify-content: space-between;
          width: 255px;
          height: 35px;

          span {
            width: 220px;
            height: 20px;
            margin-top: 10px;
            color: #777777;
          }
          button {
            width: 30px;
            height: 30px;
            margin-right: 5px;
            border: none;
            background-color: Transparent;
            background-repeat: no-repeat;
            cursor: pointer;
            overflow: hidden;
            outline: none;

            img {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }
          }
        }
        .ProductPrice {
          width: 275px;
          height: 20px;

          p {
            color: #000000;
            font-size: 17px;
            font-weight: bold;
          }
        }
      }
    }
  }
}