%hundred {
  width: 100%;
  height: 100%;
}

%FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Category {
  @extend %FlexCenter;
  width: 100vw;
  height: 4345px;
  overflow-y: auto;
  background-color: #ffffff;

  .CateContainer {
    width: 1080px;
    height: 100%;

    header {
      width: 100%;
      height: 47px;
    }

    .ImgContainer {
      width: 100%;
      height: 220px;

      img {
        @extend %hundred;
      }
    }
  }
}
