@import "../../../styles/common.scss";

* {
  box-sizing: border-box;

  .headerLine {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: chartreuse;

    p {
      line-height: 1.6;
    }

    a {
      text-decoration: none;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      // background-color: #333;
    }

    li {
      float: left;
      width: 160px;
    }

    li a {
      //선택하지않은 메뉴
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      background-color: #fff;
    }

    //커서 올리면 변함
    li a:hover:not(.active) {
      border-bottom: 4px solid pink;
      // margin-top: -4px;
    }

    .header {
      height: 44px;
      width: 640px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid #f0f1f4;
    }

    .active {
      //선택한 메뉴
      background-color: #fff;
      color: black;
      font-weight: bold;
      // margin-top: -4px;
      border-bottom: 4px solid black;
    }
  }
}
