.SliderBox {
  width: 100vw;
  height: 360.09px;

  .ImgSlide {
    width: 640px;
    height: 360.09px;

    img {
      width: 640px;
      height: 360px;
    }

    .ProductsText {
      position: relative;
      z-index: 1;
      transform: translate(30px, -300%);

      .TextOne {
        position: absolute;
        bottom: 60px;
        font-size: 24px;
        font-weight: bold;
        color: rgb(255, 255, 255);
      }

      .TextTwo {
        position: absolute;
        bottom: 30px;
        font-size: 16px;
        color: rgb(255, 255, 255);
        margin-top: 10px;
      }
      .PagesNum {
        position: absolute;
        bottom: 50px;
        font-size: 15px;
        letter-spacing: -0.2px;
        color: rgb(255, 255, 255);
        margin-left: 550px;
        bottom: 1px;
      }
    }
  }
}
