%hundred {
  width: 100%;
  height: 100%;
}

.ImgContainer {
<<<<<<< HEAD
  display: block;
  width: 100%;
  height: 220px;
  margin: 0 auto;
=======
  width: 100%;
  height: 220px;

>>>>>>> master
  img {
    @extend %hundred;
  }
}
