@import "../../styles/common.scss";
.Footer {
  margin: 0px auto;
  padding-bottom: 73px;
  background-color: rgb(250, 250, 250);
  border-top: 1px solid rgb(242, 242, 242);
  .footerWrap {
    width: 1080px;
    margin: 0 auto;
    .infoService {
      padding: 29px 0px 32px;
      a {
        font-size: 12px;
        font-weight: 400px;
        color: rgb(102, 102, 102);
        text-decoration: none;
      }
    }
    .logoSection {
      font-size: 14px;
      margin-bottom: 20px;
      span {
        font-weight: bold;
      }
    }
    .companyInfo {
      display: flex;
      margin: 10px 0px;
      div {
        font-size: 14px;
        line-height: 1.5;
        margin-right: 25px;
        span {
          display: block;
          margin: 3px 0;
          font-size: 11px;
          color: rgb(153, 153, 153);
        }
      }
    }
  }
}
