@import "../../styles/common.scss";
.CartList {
  position: relative;
  .MyPageHeadTapWrap {
    display: block;
    width: 640px;
    height: 44px;
    margin: 0 auto;
    .mainTapList {
      display: flex;
      justify-content: space-around;
      height: 44px;
      padding: 0 12px;
      margin: 0 auto;
      border-top: 1px solid rgb(227, 229, 232);
      background-color: #f8f8f8;

      a {
        @include flexCenter;
        width: 145px;
        margin: 0 4.5px;
        text-decoration: none;
        color: rgb(155, 155, 155);
        font-size: 14px;
        outline: none;

        &.selected {
          color: black;
          font-weight: bold;
          .numOfCart {
            @include flexCenter;
            width: 18px;
            height: 18px;
            padding-top: 3px;
            margin-left: 2px;
            border: 0;
            border-radius: 15px;
            color: white;
            background-color: rgb(255, 85, 117);
            font-size: 12px;
          }
        }
      }
    }
  }
  .ItemList {
    display: block;
    width: 640px;
    height: 54px;
    margin: 0 auto;

    .totalItem {
      @include flexSB;
      align-items: center;
      width: 640px;
      height: 55px;
      margin: 0 auto;
      padding: 0 20px;
      top: 135px;
      line-height: 1.5;

      .selectItems {
        input[type="checkbox"] {
          display: none;
        }

        input[type="checkbox"] + label {
          color: rgb(51, 51, 51);
          font-size: 16px;
        }

        input[type="checkbox"] + label span {
          display: inline-block;
          width: 22px;
          height: 22px;
          border: $greyBorder;
          vertical-align: middle;
          margin: -2px 10px 0 0;
          background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNDc3Ljg2NyA0NzcuODY3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0NzcuODY3IDQ3Ny44Njc7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxnPg0KCQk8cGF0aCBkPSJNMjM4LjkzMywwQzEwNi45NzQsMCwwLDEwNi45NzQsMCwyMzguOTMzczEwNi45NzQsMjM4LjkzMywyMzguOTMzLDIzOC45MzNzMjM4LjkzMy0xMDYuOTc0LDIzOC45MzMtMjM4LjkzMw0KCQkJQzQ3Ny43MjYsMTA3LjAzMywzNzAuODM0LDAuMTQxLDIzOC45MzMsMHogTTM3MC40NjYsMTY1LjY2NkwxOTkuNzk5LDMzNi4zMzNjLTYuNjY1LDYuNjYzLTE3LjQ2OCw2LjY2My0yNC4xMzIsMGwtNjguMjY3LTY4LjI2Nw0KCQkJYy02Ljc4LTYuNTQ4LTYuOTY4LTE3LjM1Mi0wLjQyLTI0LjEzMmM2LjU0OC02Ljc4LDE3LjM1Mi02Ljk2OCwyNC4xMzItMC40MmMwLjE0MiwwLjEzOCwwLjI4MiwwLjI3NywwLjQyLDAuNDJsNTYuMjAxLDU2LjIwMQ0KCQkJbDE1OC42MDEtMTU4LjYwMWM2Ljc4LTYuNTQ4LDE3LjU4NC02LjM2LDI0LjEzMiwwLjQxOUMzNzYuODU0LDE0OC41NjcsMzc2Ljg1NCwxNTkuMDUyLDM3MC40NjYsMTY1LjY2NnoiLz4NCgk8L2c+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8L3N2Zz4NCg==);
          background-repeat: no-repeat;
          filter: invert(80%);
          cursor: pointer;
        }

        input[type="checkbox"]:checked + label span {
          width: 22px;
          height: 22px;
          border-radius: 100%;
          background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNDc3Ljg2NyA0NzcuODY3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0NzcuODY3IDQ3Ny44Njc7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxnPg0KCQk8cGF0aCBkPSJNMjM4LjkzMywwQzEwNi45NzQsMCwwLDEwNi45NzQsMCwyMzguOTMzczEwNi45NzQsMjM4LjkzMywyMzguOTMzLDIzOC45MzNzMjM4LjkzMy0xMDYuOTc0LDIzOC45MzMtMjM4LjkzMw0KCQkJQzQ3Ny43MjYsMTA3LjAzMywzNzAuODM0LDAuMTQxLDIzOC45MzMsMHogTTM3MC40NjYsMTY1LjY2NkwxOTkuNzk5LDMzNi4zMzNjLTYuNjY1LDYuNjYzLTE3LjQ2OCw2LjY2My0yNC4xMzIsMGwtNjguMjY3LTY4LjI2Nw0KCQkJYy02Ljc4LTYuNTQ4LTYuOTY4LTE3LjM1Mi0wLjQyLTI0LjEzMmM2LjU0OC02Ljc4LDE3LjM1Mi02Ljk2OCwyNC4xMzItMC40MmMwLjE0MiwwLjEzOCwwLjI4MiwwLjI3NywwLjQyLDAuNDJsNTYuMjAxLDU2LjIwMQ0KCQkJbDE1OC42MDEtMTU4LjYwMWM2Ljc4LTYuNTQ4LDE3LjU4NC02LjM2LDI0LjEzMiwwLjQxOUMzNzYuODU0LDE0OC41NjcsMzc2Ljg1NCwxNTkuMDUyLDM3MC40NjYsMTY1LjY2NnoiLz4NCgk8L2c+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8L3N2Zz4NCg==);
          filter: invert(20%);
        }
        span {
          margin-left: 5px;
          font-weight: bold;
        }
      }
      .removeItems {
        color: #666666;

        .removeBtn {
          position: relative;
          top: 2px;
          width: 19px;
          margin-left: 10px;
          filter: invert(30%);
          cursor: pointer;
        }
      }
    }
  }
  .AddedItems {
    display: block;
    width: 640px;
    margin: 0 auto;

    .allItemContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 640px;
      margin: 0 auto;
      border-top: 10px solid rgb(247, 247, 247);

      .basketItem {
        display: flex;
        width: 640px;
        padding: 20px 0;
        margin: 0px 16px 0px 20px;
        border-bottom: 1px solid rgb(240, 240, 240);

        input[type="checkbox"] {
          display: none;
        }

        input[type="checkbox"] + label {
          color: rgb(51, 51, 51);
          font-size: 16px;
        }

        input[type="checkbox"] + label span {
          display: inline-block;
          width: 22px;
          height: 22px;
          border: $greyBorder;
          vertical-align: middle;
          margin: -2px 10px 0 0;
          background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNDc3Ljg2NyA0NzcuODY3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0NzcuODY3IDQ3Ny44Njc7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxnPg0KCQk8cGF0aCBkPSJNMjM4LjkzMywwQzEwNi45NzQsMCwwLDEwNi45NzQsMCwyMzguOTMzczEwNi45NzQsMjM4LjkzMywyMzguOTMzLDIzOC45MzNzMjM4LjkzMy0xMDYuOTc0LDIzOC45MzMtMjM4LjkzMw0KCQkJQzQ3Ny43MjYsMTA3LjAzMywzNzAuODM0LDAuMTQxLDIzOC45MzMsMHogTTM3MC40NjYsMTY1LjY2NkwxOTkuNzk5LDMzNi4zMzNjLTYuNjY1LDYuNjYzLTE3LjQ2OCw2LjY2My0yNC4xMzIsMGwtNjguMjY3LTY4LjI2Nw0KCQkJYy02Ljc4LTYuNTQ4LTYuOTY4LTE3LjM1Mi0wLjQyLTI0LjEzMmM2LjU0OC02Ljc4LDE3LjM1Mi02Ljk2OCwyNC4xMzItMC40MmMwLjE0MiwwLjEzOCwwLjI4MiwwLjI3NywwLjQyLDAuNDJsNTYuMjAxLDU2LjIwMQ0KCQkJbDE1OC42MDEtMTU4LjYwMWM2Ljc4LTYuNTQ4LDE3LjU4NC02LjM2LDI0LjEzMiwwLjQxOUMzNzYuODU0LDE0OC41NjcsMzc2Ljg1NCwxNTkuMDUyLDM3MC40NjYsMTY1LjY2NnoiLz4NCgk8L2c+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8L3N2Zz4NCg==);
          background-repeat: no-repeat;
          filter: invert(80%);
          cursor: pointer;
        }

        input[type="checkbox"]:checked + label span {
          width: 22px;
          height: 22px;
          border-radius: 100%;
          background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNDc3Ljg2NyA0NzcuODY3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0NzcuODY3IDQ3Ny44Njc7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxnPg0KCQk8cGF0aCBkPSJNMjM4LjkzMywwQzEwNi45NzQsMCwwLDEwNi45NzQsMCwyMzguOTMzczEwNi45NzQsMjM4LjkzMywyMzguOTMzLDIzOC45MzNzMjM4LjkzMy0xMDYuOTc0LDIzOC45MzMtMjM4LjkzMw0KCQkJQzQ3Ny43MjYsMTA3LjAzMywzNzAuODM0LDAuMTQxLDIzOC45MzMsMHogTTM3MC40NjYsMTY1LjY2NkwxOTkuNzk5LDMzNi4zMzNjLTYuNjY1LDYuNjYzLTE3LjQ2OCw2LjY2My0yNC4xMzIsMGwtNjguMjY3LTY4LjI2Nw0KCQkJYy02Ljc4LTYuNTQ4LTYuOTY4LTE3LjM1Mi0wLjQyLTI0LjEzMmM2LjU0OC02Ljc4LDE3LjM1Mi02Ljk2OCwyNC4xMzItMC40MmMwLjE0MiwwLjEzOCwwLjI4MiwwLjI3NywwLjQyLDAuNDJsNTYuMjAxLDU2LjIwMQ0KCQkJbDE1OC42MDEtMTU4LjYwMWM2Ljc4LTYuNTQ4LDE3LjU4NC02LjM2LDI0LjEzMiwwLjQxOUMzNzYuODU0LDE0OC41NjcsMzc2Ljg1NCwxNTkuMDUyLDM3MC40NjYsMTY1LjY2NnoiLz4NCgk8L2c+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8L3N2Zz4NCg==);
          filter: invert(20%);
        }

        .itemImg {
          display: inline-block;
          width: 100px;
          height: 100px;
          margin-right: 14px;
          background-color: black;
          img {
            width: 100px;
            height: 100px;
          }
        }

        .itemInfo {
          display: inline-block;
          width: 191px;
          padding-top: 6px;

          .itemName {
            @include flexSB;
            width: 460px;
            padding-bottom: 6.5px;
            font-size: 16px;
            line-height: 18.5px;

            .deleteItem {
              right: 8px;
              background-color: white;
              border: 0;
              outline: none;
              cursor: pointer;

              img {
                width: 12px;
                height: 12px;
                filter: invert(80%);
              }
            }
          }

          .price {
            padding-bottom: 10px;
          }

          .quantity {
            width: 191px;
            height: 34px;
            padding: 5px 10px 5px 5px;
            margin-top: 10px;
            border-color: rgb(227, 229, 232);
            border-radius: 4px;
            outline: none;
          }
        }
      }
    }

    .payment {
      display: block;
      width: 640px;
      padding: 40px 20px 123px;
      margin: 0 auto;

      .shipping {
        @include flexSB;
        height: 30px;
        margin-bottom: 23px;

        select {
          width: 200px;
          height: 33px;
          padding: 5px;
          border-color: rgb(227, 229, 232);
          border-radius: 4px;
        }
      }

      div {
        @include flexSB;
        height: 30px;
        font-size: 16px;
      }

      .totalPrice {
        height: 45px;
        font-weight: bolder;

        .totalPrice2 {
          font-size: 26px;
          font-weight: bold;
        }
      }
    }
  }
}

.goToPay {
  display: block;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 640px;
  height: 80px;
  color: white;
  background-color: rgba(251, 46, 69, 0.95);
  border: 0;
  outline: none;
  cursor: pointer;

  span {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
}
